## Ignore all by default
*

## Allow config
!.github/
!.vscode/
!.gitignore
!.windsurfrules
!.editorconfig

## Allow package management
!mise.toml

## Allow build scripts
!lefthook.yml

## Allow documentation
!docs/
!docs/**/
!docs/**/*.md

!licenses/
!licenses/*.txt
!licenses/*.md

!LICENSE
!README.md

## Allow go files
!**/go.mod
!**/go.sum
!**/*.go

## Allow packages
!fxmap