## Ignore all by default
*

## Allow git/github config
!.gitignore

## Allow build/ci config
!.editorconfig
!.windsurfrules
!mise.toml
!Cargo.toml
!Cargo.lock

## Allow documentation
!README.md

## Allow licenses
!LICENSE
!ThirdPartyLicenses.md
!licenses
!licenses/**/*.txt

## Allow go workspace
!go.work
!**/go.mod
!**/go.sum
!**/*.go

## Allow subfolders
!.github
!docs
!fxmap


